<div class="style">

<%= image_tag(@user.avatar.url(:thumb))%>

Name: <%= @user.username %>
<br>
Email: <%= @user.email %>
<br><br>
My Events:
			<% Event.where(:user_id => @user).each do |e| %>
			<%= e.name %>
			<% end %>
			<br><br>		
</div>




