<div class="mainbody">	
<div class="eventsindex">
	<div class="span8">
		What's happening right now?
<hr class="sexy_line" />​
<br><br>
	
<% @events.reverse.each do |event|%>
<%= event.user.username %> is looking for <%= event.people %> people to <%= link_to event.name, event %> with.

<div class="views">
<%= event.views %>
<i class="icon-fire"></i> 
</div>

<br>
<hr>
<% end %>

</div>

</div>
</div>
