<div class="mainbody">
<table>

</table>

<%= link_to 'New Event', new_event_path %>
<br><br>

<div class="eventsindex">
<% @events.reverse.each do |event|%>

<%= event.user.username %> is looking for <%= event.people %> people to <%= event.name %>
<br><hr>
<% end %>

</div>
</div>
