// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.commentsection{
	width:80%;
}

.commentsusername{
	color:#666;
	font-family:Arial;
	font-size:14px;
	display:inline;
}

.commentsbody{
	color:#45A1D1;
	font-family:Arial;
	display:inline;
	font-size:14px;
}