// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.commentsection{
}

.commentsusername{
	color:#666;
	font-family:Arial;
	display:inline;
}

.commentsbody{
	color:white;
	background-color:#A1C5FC;
	font-family:Arial;
	display:inline;
	font-size:14px;
}