// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #666;
  &:first-letter { text-transform: uppercase };
}

#datepicker{
	font-size:10px;
	position:absolute;
}
.eventsindex{
	font-family:Arial;
	font-size:20px;	
}

.searchindex{
	display:inline;
}

.eventdatesort{
	margin-left:0px;
	margin-bottom:20px;
}

.views{
	color:red;
	display:inline;
}

.eventsshow{
	font-family:Arial-BoldMT;
	font-size:20px;
	color:#46A1D1;
}

.eventsindexprofile{
	font-family:Arial-BoldMT;
	font-size:14px
}

.eventsentence{
	display:inline;
	font-family:Arial;
	color:#666;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	margin-right:5px;
}

.nameofuser{
	display:inline;
	padding-left:10px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
	margin-right:5px;	
}

.nameofuser:hover{
	display:inline;
	background-color:white;
	box-shadow: inset 0px 1px 3px #888888;
}
.numofpeople{
	display:inline;
	padding-left:10px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
	margin-right:5px;
}

.verbforevent{
	color:#46A1D1;
	display:inline;
	background-color:white;
	padding-left:10px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
	box-shadow: 0px 0px 3px #888888;
}

.nameofevent{
	color: #666;
	display:inline;
	background-color:white;
	padding-left:10px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
	margin-right:5px;
	box-shadow: 1px 0px 3px #888888;
	a:visited {color:#666;}
}

.nameofevent:hover{
	display:inline;
	background-color:white;
	box-shadow: inset 0px 1px 3px #888888;
}

.tags{
	float:right;
	font-size:14px;
	a:link {color:#45A1D1;}
	a:visited {color:#666;}
}

.indexline{
	height:5px;
	background-color:#B3D4FD;
	margin-left:130px;
	margin-top:0px;
}
.tags2{
	font-family:Arial;
	padding-left:2px;
	padding-right:2px;
	float:right;
	font-size:14px;
	color:white;
	margin-top:-45px;
}

.numofmembers{
	float:left;
	font-family:Arial;
	padding-left:2px;
	padding-right:2px;
	font-size:14px;
	color:#666;
	margin-top:-45px;
}

.numofpeople2{
	font-size:14px;
	color:#666;
}

.indexwhen{
	float:left;
	margin-left:130px;
	font-size:14px;
	color:#666;
}

.tageventsentence{
	float:left;
	display:inline;
	font-family:Arial;
	color:#666;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	margin-right:5px;
}

.youhavejoinedthisevent{
	font-family:Arial;
	position:absolute;
	top:108px;
	left:850px;
	padding:2px;
	height:20px;
	background-color:green;
	color:white;
}

.icon-plus{
	font-size:16px;
	color:#45A1D1;
	
}

.youownthisevent{
	float:right;
	margin-top:-30px;
}

.icon-pencil{
	color:#45A1D1;
	font-size:16px;
}

.members{
	position:absolute;
	float:right;
	margin-top:-110px;
	margin-left:660px;
}

.newtitle{
	text-transform: uppercase;
	color:#46A1D1;
	font-family:Arial-BoldMT;
	letter-spacing: 3px;
	font-size:26px;	
	background-color:white;
	box-shadow: 0px 0px 3px #888888;
	display:inline;
	position:relative;
	left:50%;
	margin-left: -120px;
	padding-left:20px;
	padding-top:20px;
	padding-bottom:20px;
}

.newtitle2{
	text-transform: uppercase;
	link: #666;
	font-family:Arial-BoldMT;
	letter-spacing: 3px;
	font-size:26px;	
	background-color:white;
	box-shadow: 1px 0px 3px #888888;
	display:inline;
	position:relative;
	left:50%;
	padding-left:10px;
	padding-top:20px;
	padding-right:20px;
	padding-bottom:20px;
	a:visited {color:#666;}
}

.addevent{
	font-family:Arial;
	font-size:20px;
	color:#666;
	
}
.style{
	padding:40px;
	background-color:ghostwhite;
	box-shadow: inset 0px 1px 3px #888888;

}

.style2{
	padding:40px;
	background-color:ghostwhite;
	box-shadow: inset 0px 1px 3px #888888;
	margin-left:200px;
	margin-right:200px;
}

.styleeventsshow{
	height:1200px;
	padding:10px;
	background-color:ghostwhite;
	box-shadow: inset 0px 1px 3px #888888;
	font-size:20px;
	
}

.eventshowbody{
	background-color:white;
	font-family:Arial-BoldMT;
	color:#46A1D1;
	box-shadow: inset 0px 0px 3px #888888;
	border:5px solid #F3F0FB;
	padding:20px;
	margin-top:50px;
	margin-left:50px;
	margin-right:50px;
	height:1000px;
}

.eventheaderleft{
	font-family:Arial;
	height:300px;
	color:#666;
}

.eventheaderright{
	display:inline;
	float:right;
	a:link {color:white;}
	a:visited {color:white;}
}

.eventsshowright{
	background-color:#fff;
	height:200px;
}
.eventsshowright2{
	background-color:#EEEEEE;
}

.indexpicborder{
	display:inline;
	padding-top:40px;
	padding-bottom:45px;
	padding-left:5px;
	padding-right:5px;
	border: 5px solid white;
	box-shadow: 1px 0px 3px #888888;
}

.bestinplaceeventshow{
	width:50px;
	display: inline;
	font-size: 12px;
		
}
.indexpicborder:hover{
	display:inline;
	padding-top:40px;
	padding-bottom:45px;
	padding-left:5px;
	padding-right:5px;
	border:5px solid #F3F0FB;
	box-shadow: 1px 0px 3px #888888;
}

.showpicborder{
	float:right;
	margin-top:-100px;
	border: 5px solid #F3F0FB;
	box-shadow: 1px 0px 3px #888888;
}

.eventdate{
	color:#45A1D1;
	font-family:Arial;
	font-size:14px;
	display:inline;
}

.eventlocation{
	color:#45A1D1;
	font-family:Arial;
	font-size:14px;
	display:inline;
}

.eventdescription{
	display:inline;
	color:#666;
	font-family:Arial;
	font-size:14px;
}

.milesaway{
	display:inline;
	font-size:12px;
	color:#666;
	font-style:italic;
}

.eventnewribbon{
	float:left;
	position:relative;
	margin-right:5px;
	padding:2px;
	top:-120px;
	left:135px;
	width:30px;
	background-color:green;
	font-size:14px;
	color:white;
	font-weight:regular;
}
.eventfullribbon{
	float:left;
	position:relative;
	padding:1px;
	top:-120px;
	left:135px;
	width:90px;
	background-color:#FF5200;
	font-size:12px;
	color:white;
	font-family:Arial;
}

.descriptionsection{
	position:absolute;
	margin-right:420px;
}

.commentsectionheading{
	font-family:Arial;
	color:#666;
	font-size:14px;
	font-weight:normal;
}

.yourevent{
	position: absolute;
	top:108px;
	left:860px;
	padding:2px;
	height:20px;
	background-color:green;
	color:white;
	font-family:Arial;
}