// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #666;
  &:first-letter { text-transform: uppercase };
}

#datepicker{
	font-size:10px;
	position:absolute;
}
.eventsindex{
	float:left;
	margin-top:71px;
	height:auto;
	font-family:Arial;
	font-size:14px;	
	border-top: 1px solid #D1D1D1;
	border-left: 1px solid #D1D1D1;
	width:640px;
	background-color:#F5F5F5;
}

.rightside {
	padding:20px;
	font-family:Arial;
	font-size:12px;
	background-color:white;
	border:1px solid #D1D1D1;
	float:left;
	margin-top:71px;
	height:714px;
	width:275px;
	color:#666666;

}

.searchindex{
	display:inline;
}


.views{
	position:absolute;
	top:5px;
	left:610px;
	color:red;
	display:inline;
}

.eventsshow{
	font-family:Arial-BoldMT;
	font-size:20px;
	color:#46A1D1;
}

.eventsindexprofile{
	font-family:Arial-BoldMT;
	font-size:14px
}

.eventsentence{
	position:relative;
	font-family:Arial;
	color:#99999B;
	left:140px;
	top:-75px;
	width:80%;
	font-size:12px;
}

.eventsentence2{
	position:relative;
	font-family:Arial;
	color:#666;
	padding-left:10px;
	padding-top:20px;
	padding-bottom:5px;
	margin-right:5px;
}

.nameofuser{
	display:inline;
	padding-left:10px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
	margin-right:5px;	
}

.nameofuser:hover{
	display:inline;
	background-color:white;
	box-shadow: inset 0px 1px 3px #888888;
}

.numofpeople{
	display:inline;
	padding-left:10px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
	margin-right:5px;
	font-size:8px;
}

.verbforevent{
	float:left;
	font-size:20px;
	position:relative;
	top:-50px;
	left:140px;
	color: #605C5E;
	font-style:bold;
}

.nameofevent{
	float:left;
	font-family:Arial;
	font-size:20px;
	left:145px;
	top:-50px;
	position:relative;
	color: #605C5E;
	font-style:bold;
	a:visited {color:#45A1D1;}
}

.locationwrapper{
	float:left;
	position:absolute;
	left:162px;
	font-size:12px;
	color:#99999B;
	top:100px;
}

.location{
	display:inline;
	margin-left:6px;
}

.icon-map-marker{
	color:#99999B;
}

.datewrapper{
	float:left;
	position:absolute;
	left:162px;
	font-size:12px;
	color:#99999B;
	top:80px;
}

.date{
	display:inline;
	margin-left:4px;
}

.tagswrapper{
	float:left;
	position:absolute;
	left:160px;
	top:120px;
	margin-right:5px;
	padding:3px;
	color:#99999B;
}

.tags{
	display:inline;
	font-family:Arial;
	font-size:12px;
	a:link {color:#45A1D1}
	a:visited {color:#45A1D1}

}

.icon-tags{
	font-size:12px;
}



.indexline{
	height:5px;
	background-color:#B3D4FD;
	margin-left:130px;
	margin-top:0px;
}
.tags2{
	font-family:Arial;
	padding-left:2px;
	padding-right:2px;
	float:right;
	font-size:14px;
	color:white;
	margin-top:-45px;
}

.numofmembers{
	float:left;
	font-family:Arial;
	padding-left:2px;
	padding-right:2px;
	font-size:14px;
	color:#666;
	margin-top:-45px;
}

.numofpeople2{
	font-size:14px;
	color:#666;
}

.indexwhen{
	float:left;
	margin-left:130px;
	font-size:14px;
	color:#666;
}

.tageventsentence{
	float:left;
	display:inline;
	font-family:Arial;
	color:#666;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	margin-right:5px;
}

.icon-plus{
	font-size:16px;
	color:#45A1D1;
	
}

.youownthisevent{
	float:right;
	margin-top:-30px;
}

.icon-pencil{
	color:#45A1D1;
	font-size:16px;
}

.members{
	position:absolute;
	left:920px;
	top:240px;

}

.newtitle{
	display:inline;
	position:relative;
	text-transform: uppercase;
	color:black;
	font-family:Arial-BoldMT;
	letter-spacing: 3px;
	font-size:26px;	
	left:38%;
	padding-left:20px;
	padding-top:20px;
	padding-bottom:20px;
}

.newtitle2{
	text-transform: uppercase;
	link: #666;
	font-family:Arial-BoldMT;
	letter-spacing: 3px;
	font-size:26px;	
	display:inline;
	position:relative;
	left:37%;
	padding-top:20px;
	padding-right:20px;
	padding-bottom:20px;
	a:visited {color:#666;}
}

.addevent{
	font-family:Arial;
	font-size:20px;
	color:#666;
	
}
.style{
	padding:40px;
	background-color:ghostwhite;
	box-shadow: inset 0px 1px 3px #888888;

}

.style2{
	padding:40px;
	background-color:ghostwhite;
	box-shadow: inset 0px 1px 3px #888888;
	margin-left:200px;
	margin-right:200px;
}

.style3{
	margin-top:40px;
	background-color:#FDFDFD;

}


.styleeventsshow{
	height:1200px;
	padding:10px;
	background-color:ghostwhite;
	box-shadow: inset 0px 1px 3px #888888;
	font-size:20px;
	
}

.eventshowbodyleft{
	position:relative;
	background-color:white;
	font-family:Arial-BoldMT;
	color:#46A1D1;
}

.eventshowbodymembers{
	position:relative;
	background-color:white;
	font-family:Arial-BoldMT;
	color:#46A1D1;
	box-shadow: inset 0px 0px 3px #888888;
	border:5px solid #F3F0FB;
	padding:40px;
	top:-430px;
	left:730px;
	height:1000px;
	width:10%;
}


.eventheaderleft{
	font-family:Arial;
	color:#666;
}

.eventheaderright{
	bottom:20px;
	float:right;
	display:inline;
	position:relative;
	width:200px;
	a:link {color:white;}
	a:visited {color:white;}

}

.eventsshowright{
	background-color:#fff;
	height:200px;

}
.eventsshowright2{
	background-color:#EEEEEE;

}

.indexpicborder{
	position:relative;
	border: 5px solid white;
	box-shadow: 1px 0px 3px #888888;
	width:100px;
	margin-bottom:-53px;
}

.bestinplaceeventshow{
	width:50px;
	display: inline;
	font-size: 12px;
	font-family:Arial;
	color:#666;
		
}

.bestinplaceeventshowdate{
	width:50px;
	display: inline;
	font-size: 12px;
	font-family:Arial;
	color:#666;
		
}

.bestinplaceeventshowlocation{
	width:50px;
	display: inline;
	font-size: 12px;
	font-family:Arial;
	color:#666;
		
}
.indexpicborder:hover{
	display:inline;
	padding-top:40px;
	padding-bottom:45px;
	padding-left:5px;
	padding-right:5px;
	border:5px solid #F3F0FB;
	box-shadow: 1px 0px 3px #888888;
}

.showpicborder{
	float:right;
	margin-top:-100px;
	border: 5px solid #F3F0FB;
	box-shadow: 1px 0px 3px #888888;
}

.eventdate{
	color:#45A1D1;
	font-family:Arial;
	font-size:14px;
	display:inline;
}

.eventlocationicon{
	color:#45A1D1;
	font-family:Arial;
	font-size:14px;
	display:inline;
}

.eventmembersicon{
	color:#45A1D1;
	font-family:Arial;
	font-size:14px;
	display:inline;	
}

.eventmembersicon2{
	color:#666;
	margin-left:-9px;
	font-family:Arial;
	font-size:14px;
	display:inline;	
}

.eventdescription{
	display:inline;
	color:#666;
	font-family:Arial;
	font-size:14px;
}

.milesaway{
	display:inline;
	font-size:12px;
	color:#666;
	font-style:italic;
}

.eventnewribbon{
	float:left;
	padding:2px;
	left:160px;
	top:40px;
	background-color:#F5F5F5;
	font-size:12px;
	color:#99999B;
	font-family:Arial;
}
.eventfullribbon{
	float:left;
	position:relative;
	top:60px;
	padding:2px;
	left:160px;
	width:80px;
	background-color:#FF5200;
	font-size:14px;
	color:white;
	font-family:Arial;
	margin-top:-20px;
}

.eventfullribbon2{
	z-index:100;
	position:relative;
	top:143px;
	padding:1px;
	left:170px;
	width:90px;
	background-color:#FF5200;
	font-size:12px;
	color:white;
	font-family:Arial;
}

.descriptionsection{
	position:relative;
}

.commentsectionheading{
	font-family:Arial;
	color:#666;
	font-size:14px;
	font-weight:normal;
}


.neweventformbutton{
	position:relative;
	left:260px;
	bottom:37px;
}

.eventnotice{
	position:relative;
	font-family:Arial;
	margin-bottom:-20px;
	padding:2px;
	height:20px;
	background-color:#45A1D1;
	color:white;
	text-align: center;
	width:100%
}

.line{
	height:1px;
	background-color:#45A1D1;

}

.searchbar{
	display:inline;
	position:relative;
	height:30px;
	width:40%;
	font-family:Arial;
	font-size:16px;
}

.searchbarbackground{
	position:relative;
	display:inline;
	padding:20px;
}
.searchbar2{
	margin-left:-15px;
	display:inline;
	position:relative;
	height:30px;
	width:34%;
	font-family:Arial;
	font-size:16px;
}
.searchbarbackground2{
	position:relative;
	display:inline;
	padding:20px;
}

.indexeventwrapper{
	position:relative;
	padding:20px;
	height:110px;
}

.details{
	position:absolute;
	left:590px;
	top:120px;
}

.line{
	background-color:#D1D1D1;
	width:100%;
}

.section2index{
	position:absolute;

}

.eventdatesort{
	font-family:Arial;
}

.will_paginate{
	background-color:white;
	font-family:Arial;
}

.btn-largerightside{
	font-family:Arial;
	font-size:20px;
	color:#45A1D1;
	height:20px;
	width:230px;
}

.searchbutton{
	background-color:#F5F5F5;
	border-style:none;
	height:40px;
	color:#99999B;
	font-family:Arial;
	-moz-box-shadow: 0 0 2px #888;
	-webkit-box-shadow: 0 0 2px#888;
	box-shadow: 0 0 2px #888;
}
.searchbutton:hover{
	background-color:#F5F5F5;
	border-style:none;
	height:40px;
	border:1px solid #45A1D1;
	color:#99999B;
	font-family:Arial;
}

.verbselect{
	width:80px;
	height:30px;
}

.nametextfield{
	background-color:white;
	width:500px;
	height:100px;
}
.peopleselect{
	width:80px;
}

.tagstextfield{
	background-color:white;
	width:500px;
}

.modalbutton{
	position:relative;
	border-style:none;
	background-color:#F5F5F5;
	padding:10px;
	color:#99999B;
	font-size:16px;
	left:80px;
	top:20px;
	-moz-box-shadow: 0 0 2px #888;
	-webkit-box-shadow: 0 0 2px#888;
	box-shadow: 0 0 2px #888;
}

.modalbutton:hover{
	position:relative;
	border-style:none;
	background-color:#F5F5F5;
	padding:10px;
	color:white;
	font-size:16px;
	left:80px;
	top:20px;
	color:#99999B;
	font-family:Arial;
	-moz-box-shadow: 0 0 3px #888;
	-webkit-box-shadow: 0 0 3px #888;
	box-shadow: 0 0 3px #888;
}

.toptags{
	margin-right:5px;
	margin-top:5px;
	float:left;
	padding:5px;
	font-family:Arial;
	font-size:16px;
	background-color:#45A1D1;
	color:black;
	a:link {color:white}
	a:visited {color:white}
	a:hover {text-decoration: none}
}
.toptags:hover{
	margin-right:5px;
	margin-top:5px;
	float:left;
	padding:5px;
	font-family:Arial;
	font-size:16px;
	background-color:#45A1D1;
	color:black;
	a:link {color:white;}
	a:visited {color:white}
	-moz-box-shadow: -1px -1px 1px #888;
	-webkit-box-shadow: -1px -1px 1px #888;
	box-shadow: -1px -1px 1px #888;
}

.toptagssection{
	margin-top:50px;
}