// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.eventsindex{
	font-family:Arial-BoldMT;
	font-size:20px;
	width:100%;
	
}

.views{
	position:fixed;
	color:red;
	display:inline;
}

.eventsshow{
	font-family:Arial-BoldMT;
	font-size:20px;
	width:100%;
	position:absolute;
	width:auto;
	color:#46A1D1;
}

.eventsindexprofile{
	color:#333;
}

.numofpeople{
	display:inline;
	background-color:#F8F7FF;
	color:black;
	padding-left:10px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
	margin-right:5px;
	box-shadow: inset 0px 1px 3px #888888;
}

.verbforevent{
	display:inline;
	background-color:#F8F7FF;
	color:black;
	padding-left:10px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
	margin-right:5px;
	box-shadow: inset 0px 1px 3px #888888;
}

.nameofevent{
	display:inline;
	color:#EA9055;
	padding-left:5px;
	padding-right:5px;
	margin-right:5px;
}

.nameofevent :hover{
	background-color:#F8F7FF;
}

.tags{
	padding-left:2px;
	padding-right:2px;
	float:right;
	font-size:14px;
	background-color:#FFC984;
	color:white;
}