// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.usersindex{
	font-family:Arial-BoldMT;
	font-size:20px;
	width:100%;
}
.session{
	padding:40px;
	background-color:ghostwhite;
	box-shadow: inset 0px 1px 3px #888888;
	left:48%;
	margin-left: 330px;
	margin-right:330px;

}
